  <footer class="footer">
    <div class="footer__top">
      <div class="footer__column">
        <h3 class="footer__title">KAIRA</h3>
        <p class="footer__text">Style for the bold. Step into fashion with KAIRA.</p>
        <div class="footer__socials">
          <a href="#" class="footer__social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="footer__social"><i class="fab fa-instagram"></i></a>
          <a href="#" class="footer__social"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="footer__column">
        <h4 class="footer__title">Quick Links</h4>
        <ul class="footer__list">
          <li><a href="index.html" class="footer__link">Home</a></li>
          <li><a href="shop.html" class="footer__link">Shop</a></li>
          <li><a href="blog.html" class="footer__link">Blog</a></li>
          <li><a href="contact.html" class="footer__link">Contact</a></li>
        </ul>
      </div>
      <div class="footer__column">
        <h4 class="footer__title">Support</h4>
        <ul class="footer__list">
          <li><a href="#" class="footer__link">FAQs</a></li>
          <li><a href="#" class="footer__link">Shipping</a></li>
          <li><a href="#" class="footer__link">Returns</a></li>
          <li><a href="#" class="footer__link">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p>&copy; 2025 KAIRA. All rights reserved. Built by HajArshia.</p>
    </div>
  </footer>